@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.large-park-image-div {
  display: flex;
  justify-content: center;
}
.park-image {
  width: 100%;
  height: 50vh;
}

.address-container {
  font-size: 1.2rem;
}

.address-container p {
  font-size: 0.8rem;
  background-color: white;
  color: black;
}

header.national-parks-list-header {
  text-align: center;
  padding: 1.5rem;
}

header.national-parks-list-header:hover,
nav h1:hover,
nav h2:hover {
  text-decoration: underline;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.flex-container h1 {
  margin: 1.5rem;
}

p {
  margin: 0 auto;
  width: 80%;
  background-color: black;
  padding: 0.7rem;
  color: whitesmoke;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}
.card-border {
  max-height: 90%;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgb(26, 31, 39);
  border-radius: 15px;
  line-height: 1.4rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.card-border:hover,
.smaller-img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.smaller-size {
  max-width: 100%;
  max-height: 90%;
  display: cover;
}

.image-container {
  padding: 2rem;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.smaller-img {
  width: 12vw;
  box-shadow: 0 4px 8px rgb(26, 31, 39);
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.park-smaller-img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.flex-footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.redirect-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 1.5rem;
}

.redirect-link:hover {
  color: skyblue;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h3 {
  margin: 1.5rem;
  font-size: 1.4rem;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14pt;
  font-family: "Space Grotesk", sans-serif;
}
nav {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav img {
  max-height: 50px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}
nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}
nav a:hover {
  background: #282c34;
}
main {
  height: 100%;
}
